.pac-container{
  z-index: 999999;
}

.App {
  text-align: center;
}

.container_travels {
  background: linear-gradient(#1b263b, #687896);
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.header_travels {
  background: linear-gradient(#6e86a0,#1e4169 );
  width: 800px;
  height: 60px;
  box-shadow: 0px 0px 21px -7px rgba(0, 0, 0, 5);
  margin: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  font-size: 1rem;
  border-radius: 8px;
  font-family: "Gill Sans", sans-serif;
  text-shadow: 3px 3px #1b263b;
}

.header_travels h1 {
  margin-top: 15px;
  font-weight: bold;
}

.travels {
  background: linear-gradient(#e3e7e7, #eef5f5);
  width: 800px;
  height: 450px;
  overflow-y: auto;
  border-radius: 12px 5px 5px 12px;
  box-shadow: 0px 0px 21px -7px rgba(0, 0, 0, 2);
}

.travel {
  margin-left: 5px;
  margin-right: 5px;
  margin-top: 1rem;
  margin-bottom: -1rem;
  padding: 5px 0;
  display: flex;
  align-items: center;
  justify-content: center;
}

.travel p {
  min-width: 300px;
  max-width: 640px;
  text-align: start;
  font-size: 0.9rem;
  font-weight: bold;
  color: #232d3f;
  margin-bottom: 0;
  margin-top: 0;
}

.travel button.deleteButton {
  margin-left: 1%;
  margin-bottom: 1%;
  margin-right: 2%;
  background: transparent;
  border: 1px solid transparent;
}

.travel button.deleteButton:hover {
  border-color: black;
  border-radius: 10px;
  box-shadow: 0px 0px 21px -7px rgba(0, 0, 0, 0.3);
  color:#292f36
}

.travel button.updateButton {
  background: transparent;
  border: 0.6px solid transparent;
}

.travel button.updateButton:hover {
  border-color: black;
  border-radius: 10px;
  box-shadow: 0px 0px 21px -7px rgba(0, 0, 0, 0.3);
  color:#292f36
}

.travel div.from{
  margin-left: -1%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.travel div.to{
  margin-left: 0.1%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.travel span.arrowIcon {
  margin-left: 1%;
  margin-right: 1%; 
}

.Accordion-Header {
  box-shadow: 0px 0px 21px -7px rgba(0, 0, 0, 0.3);
}

/* .AccordionCardBody {
  background-color: red;
} */

.AccordionCardTitle {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
}

.AccordionCardTitle div.distance{
  margin-top: 1%;
  margin-left: 2%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.AccordionCardTitle div.duration{
  margin-left: 2%;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* Scroll Bar */
/* width */
::-webkit-scrollbar {
  width: 6px;
}

/* Track */
::-webkit-scrollbar-track {
  border-radius: 15px;
}
 
/* Handle */
::-webkit-scrollbar-thumb {
  background: #727f9b;
  border-radius: 15px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #5d6d8d; 
}

.inputModal {
  margin-right: 2%;
  border: 1px solid #DDDDDD;
  outline: none;
}

.inputModal:focus {
  box-shadow: 0 0 5px rgba(81, 203, 238, 1);
  border: 1px solid rgba(81, 203, 238, 1);
}
.inputSpace {
  margin-top: 10px;
  text-align: center;
  border: none;
  height: 50px;
  width: 200px;
  box-shadow: 0px 0px 21px -7px rgba(114, 112, 112, 0.3);
}

input:focus {
  outline: none;
}

.createTravelBtn {
  background: linear-gradient(#1b263b, #36435c);
  color: white;
  border: none;
  
  width: 160px;
  height: 50px;
  border-radius: 100px;
  margin-top: 10px;
  margin-left: 639px;
  
  font-weight: bold;
  font-size: 1rem;
}

.createTravelBtn:hover {
  background: linear-gradient(#e3e7e7, #eef5f5);
  color: black;
}

.btn-close {
  display: none;
}